{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div align='center'>
    <h1>Welcome to your account {{current_user.user_name}}</h1>
    <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
    <p>{{ current_user.email }}</p>
  </div>
</div>
<div class="container">
  <form class="form form-horizontal" method="POST" action="" enctype="multipart/form-data" role="form"
    style="width: 100%">
    {{ form.hidden_tag() }}
    {{ wtf.quick_form(form) }}
  </form>
</div>

{% endblock content %}