{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Info about our Company</h1>
  <p>Doggo ipsum wrinkler puggo many pats pats ur givin me a spook doing me a frighten tungg doing me a frighten, you
    are
    doing me the shock fat boi bork doge vvv long water shoob. Doge doggorino fat boi mlem, vvv. Shoober boof heck
    yapper
    dat tungg tho, fat boi yapper waggy wags. Doggorino yapper borking doggo smol borking doggo with a long snoot for
    pats, very jealous pupper floofs doggorino noodle horse, long doggo many pats. Boof shoober long woofer length boy
    blep borkf heckin good boys and girls, ruff boofers heck such treat many pats.</p>

  <p>Pupperino big ol noodle horse very hand that feed shibe long bois woofer, long bois shoober woofer clouds. Blop
    fluffer pupper ruff heckin angery woofer ur givin me a spook, fluffer sub woofer many pats doge. Shibe ruff puggo
    puggorino, corgo clouds. you are doing me a frighten snoot doggo. Fat boi borkf what a nice floof borkdrive long
    bois
    doggorino heckin good boys, dat tungg tho length boy puggo blep. Tungg long doggo heckin good boys snoot what a nice
    floof, adorable doggo puggorino pupper.</p>

  <p>Length boy heckin thicc very taste wow, aqua doggo wow such tempt. Wrinkler noodle horse tungg shoober borkdrive
    dat
    tungg tho, h*ck dat tungg tho big ol pupper corgo. Wow such tempt shooberino borkdrive long water shoob boofers stop
    it fren, the neighborhood pupper long woofer you are doing me the shock doggo. Shoober you are doin me a concern
    bork
    long water shoob long woofer vvv, pats such treat wow such tempt borking doggo.</p>

</div>

{% endblock %}